@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
/* RESET CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class, which suggests default styling will be removed */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  color-scheme: light;
  --clr-primary-300: #ffb964;
  --clr-primary-400: #fa7453;
  --clr-neutral-300: #fcfaf9;
  --clr-neutral-400: #969696;
  --clr-neutral-500: #191826;
  --clr-accent-400: #66e2dc;
}

::selection {
  background-color: var(--clr-primary-300);
  color: var(--clr-neutral-500);
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  --padding-inline: 1.5rem;
  display: grid;
  grid-template-columns: [full-start] minmax(var(--padding-inline), 1fr) [center-start] minmax(min-content, 69.375rem) [center-end] minmax(var(--padding-inline), 1fr) [full-end];
}
.container > * {
  grid-column: center;
}

.grid-container {
  --padding-inline: 1.5rem;
  --num-grid: 1;
  --col-gap: 0.625rem;
  display: grid;
  grid-template-columns: [full-start] minmax(calc(var(--padding-inline) - var(--col-gap)), 1fr) [center-start] repeat(var(--num-grid), [col-start] minmax(0, calc((69.375rem - (var(--num-grid) - 1) * var(--col-gap)) / var(--num-grid))) [col-end]) [center-end] minmax(calc(var(--padding-inline) - var(--col-gap)), 1fr) [full-end];
  column-gap: var(--col-gap);
}
.grid-container > * {
  grid-column: center;
}
@media only screen and (min-width: 37.6em) {
  .grid-container {
    --padding-inline: 2.5rem;
    --num-grid: 12;
  }
}
@media only screen and (min-width: 62.5em) {
  .grid-container {
    --col-gap: 1.875rem;
  }
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Basic typography style for copy text
 */
body {
  color: var(--clr-neutral-500);
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.625;
}
@media only screen and (min-width: 37.6em) {
  body {
    font-size: 1.125rem;
    line-height: 1.5556;
  }
}
@media only screen and (min-width: 62.5em) {
  body {
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

[class*=heading] {
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

.heading--1 {
  font-size: 2.5rem;
}
@media only screen and (min-width: 37.6em) {
  .heading--1 {
    font-size: 4rem;
    line-height: 1;
  }
}
@media only screen and (min-width: 62.5em) {
  .heading--1 {
    font-size: 5.5rem;
  }
}

.heading--2 {
  font-size: 2rem;
}
@media only screen and (min-width: 62.5em) {
  .heading--2 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 0.5625rem;
  }
}

.header {
  position: relative;
  padding-block: 2.5rem 10.375rem;
  transition: background-size 0.4s ease-out;
}
@media only screen and (min-width: 37.6em) {
  .header {
    padding-block: 3.875rem 15.625rem;
    background-image: url(../assets/bg-pattern-1.svg);
    background-repeat: no-repeat;
    background-position: right -2.25rem top -2rem;
    background-size: auto 25rem;
  }
  .header::before {
    content: "";
    aspect-ratio: 1;
    width: 24rem;
    border-radius: 50%;
    background-color: #ff7b40;
    opacity: 0.16;
    filter: blur(4.25rem);
    position: absolute;
    top: -7rem;
    left: -15.875rem;
    z-index: -1;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 62.5em) {
  .header {
    padding-block: 3.875rem 20rem;
    background-size: auto 29.25rem;
    background-position: right 0 top -2.5rem;
  }
  .header::before {
    left: -9.125rem;
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
}
@media only screen and (min-width: 37.6em) {
  .header__container {
    grid-column: center-start/col-end 9;
    gap: 5.9375rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .header__container {
    grid-column: center-start/col-end 10;
    width: 95%;
    gap: 7.9375rem;
  }
}
.header__text-box {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.premium {
  padding-bottom: 24.375rem;
}
@media only screen and (min-width: 37.6em) {
  .premium {
    padding-bottom: 11.4375rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .premium {
    padding-bottom: 12.625rem;
  }
}
.premium__content {
  position: relative;
  background-color: var(--clr-neutral-500);
  background-image: url(../assets/bg-pattern-2.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 17.5rem;
  border-radius: 0.75rem;
  color: var(--clr-neutral-300);
  min-height: 37.5rem;
  grid-column: full;
  transition: background-size 0.4s ease-out, background-position 0.4s ease-out;
}
@media only screen and (min-width: 37.6em) {
  .premium__content {
    grid-column: center;
    background-position: left 55% top -1.875rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .premium__content {
    background-size: 19.5rem;
    background-position: left 42% top -2.5rem;
  }
  .premium__content::after {
    content: "";
    aspect-ratio: 1;
    width: 24rem;
    border-radius: 50%;
    background-color: #ff7b40;
    opacity: 0.16;
    filter: blur(4.25rem);
    position: absolute;
    right: -12rem;
    bottom: -11.625rem;
    z-index: -1;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
}
.premium__image {
  position: absolute;
  height: 26.875rem;
  width: max-content;
  top: -6.125rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease-out;
}
@media only screen and (min-width: 37.6em) {
  .premium__image {
    height: 34.75rem;
    transform: none;
    left: 9.18%;
    bottom: 11.375rem;
    top: auto;
  }
}
@media only screen and (min-width: 62.5em) {
  .premium__image {
    height: 40.125rem;
    bottom: 10.6875rem;
  }
}
.premium__image img {
  height: 100%;
}
.premium__card {
  background-color: var(--clr-primary-400);
  border-radius: 0.75rem;
  padding: 3rem 2.25rem;
  max-width: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: absolute;
  top: 23.75rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease-out;
}
@media only screen and (min-width: 37.6em) {
  .premium__card {
    padding: 3rem 3.25rem;
    transform: none;
    right: 9.18%;
    left: auto;
    top: 9.375rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .premium__card {
    padding: 3.75rem 3.5rem 3rem;
    max-width: 27.875rem;
    top: 5.625rem;
  }
}
.premium__card .btn:first-of-type {
  margin-bottom: 0.25rem;
}
.premium__text {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 62.5em) {
  .premium__text {
    margin-bottom: 1.75rem;
  }
}
.premium__pricing {
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}
@media only screen and (min-width: 62.5em) {
  .premium__pricing {
    margin-bottom: 2.125rem;
  }
}
.premium__pricing span {
  font-size: 1.25rem;
  font-weight: 400;
}

.footer {
  row-gap: 2rem;
  padding-bottom: 5rem;
  align-items: center;
}
.footer__copy {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
}
.footer__copy span {
  display: block;
}
.footer__link {
  font-weight: 700;
  color: currentColor;
  text-decoration: none;
  transition: color 0.2s;
}
.footer__link:hover {
  color: var(--clr-primary-400);
}
.footer__social {
  margin-top: 2rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: start;
}
.footer__social-link, .footer__icon {
  aspect-ratio: 1;
  width: 1.25rem;
  display: block;
  color: currentColor;
  transition: color 0.2s;
}
.footer__social-link:hover, .footer__icon:hover {
  color: var(--clr-primary-400);
}
@media only screen and (min-width: 37.6em) {
  .footer {
    padding-bottom: 5.3125rem;
  }
  .footer__copy {
    grid-column: center-start/col-end 7;
  }
  .footer__social {
    grid-column: col-start 8/center-end;
    justify-self: end;
    margin-top: 0;
  }
}
@media only screen and (min-width: 62.5em) {
  .footer {
    padding-bottom: 5.625rem;
  }
  .footer__logo {
    grid-column: center-start/col-end 3;
    align-self: start;
  }
  .footer__copy {
    grid-column: col-start 4/col-end 8;
    width: 90%;
  }
  .footer__social {
    grid-column: col-start 11/center-end;
    justify-self: end;
  }
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 0.75rem;
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-500);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: var(--clr-primary-300);
}
.btn--dark {
  background-color: var(--clr-neutral-500);
  color: var(--clr-neutral-300);
}
.btn--dark:hover {
  background-color: var(--clr-accent-400);
}

.home {
  position: relative;
  background-color: var(--clr-neutral-300);
  overflow-x: hidden;
}
.home::after, .home::before {
  content: "";
  display: block;
  aspect-ratio: 1;
  width: 17.5rem;
  border-radius: 50%;
  filter: blur(4.25rem);
  position: absolute;
  z-index: -1;
  transition: top 0.3s ease-in-out, right 0.3s ease-in-out, width 0.3s ease-in-out;
}
.home::before {
  opacity: 0.28;
  background-color: #40fff6;
  right: -4.0625rem;
  top: -6.5rem;
}
.home::after {
  opacity: 0.16;
  background-color: #ff9201;
  right: -4.0625rem;
  top: 6rem;
}
@media only screen and (min-width: 37.6em) {
  .home::after, .home::before {
    width: 24rem;
  }
  .home::before {
    right: 2.5rem;
    top: 2.5rem;
  }
  .home::after {
    right: 2.5rem;
    top: 19.5rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .home::before {
    right: 9.75rem;
    top: 6.25rem;
  }
  .home::after {
    right: 9.75rem;
    top: 23.1875rem;
  }
}

/*# sourceMappingURL=main.css.map */
