// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.btn {
  cursor: pointer;
  border: none;
  border-radius: to-rem(12);
  background-color: clr('neutral', 300);
  color: clr('neutral', 500);

  font-size: to-rem(18);
  font-weight: 700;
  line-height: 1;

  padding: to-rem(14) to-rem(32);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;

  &:hover {
    background-color: clr('primary', 300);
  }

  &--dark {
    background-color: clr('neutral', 500);
    color: clr('neutral', 300);

    &:hover {
      background-color: clr('accent');
    }
  }
}
